#text-color{
    color: greenyellow; /* text color */
}
.Email{ color:greenyellow;  /* text color */
}
.Address{ color:greenyellow;  /* text color */
}
.Street Address{
    color:greenyellow; /* text color */
}
.Vab{
    color:greenyellow; /* text color */
}
.City{
    color:greenyellow; /* text color */
}
.Country{
    color:greenyellow; /* text color */
}
.spider{
     color:greenyellow; /* text color */
}
.dav{
    color:greenyellow; /* text color */
}
.sav{color:greenyellow; /* text color */
}
.Ram{
    color:greenyellow; /* text color */
}
.rom{
    color:greenyellow; /* text color */
}
.rim{
    color:greenyellow;
}
.Submit{ 
    color:black; /* text color */
    background-color: greenyellow; /* background-color */
}
.rav{
    color:greenyellow; /* text color */
}
.sad{ color:greenyellow   /* text color */}